
<form method="POST" action="/settings/departments/edit/{{ department.id }}/" id="department_edit_form">
  <input type="hidden" name="_csrf" value="{{csrf_token}}">

<div class="admin-form-card">

  <ol class="breadcrumb">
    <li><a href="/settings/departments/" data-vpp-all-departments-link="1">{{t "departments.allDepartments"}}</a></li>
    <li class="active">{{ department.name }}</li>
  </ol>

  <div class="form-group">
    <label for="name" class="control-label">{{t "common.name"}}</label>
    <input class="form-control" id="name" name="name" required value="{{department.name}}">
  </div>


  <div class="form-group">
    <label for="manager_id" class="control-label">{{t "departments.manager"}}</label>
    <select class="form-control" name="boss_id" id="manager_id">
    {{#each company.users}}
      <option value="{{this.id}}" {{#if_equal ../department.bossId this.id }} selected="selected"{{/if_equal}}>{{this.full_name}}</option>
    {{/each}}
    </select>
    <span class="help-block">{{t "departments.managerHelp" department=department.name}} <a href="/users/edit/{{department.bossId}}/">{{t "common.moreDetails"}} <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></span>
  </div>

  <div class="form-group">
    <label class="control-label">{{t "departments.secondarySupervisors"}}</label>
    <ul class="list-group no-bottom-space">
      {{# each department.supervisors }}

      <li class="list-group-item">
        <span><a href='/users/edit/{{ this.id }}/'>{{ this.full_name }}</a> <button type="submit" name="remove_supervisor_id" value="{{this.id}}" class="pull-right btn btn-link btn-xs"><i class="fa fa-trash" aria-hidden="true"></i> {{t "common.remove"}}</button><span>
      </li>
      {{/ each }}

      <li class="list-group-item">
        <span>&nbsp;
        <a class="pull-right btn btn-link btn-xs"
          data-vpp-add-new-secondary-supervisor="1"
          data-toggle="modal"
          data-target="#add_secondary_supervisers_modal"
          data-department_id="{{department.id}}"
          data-department_name="{{department.name}}"
        >
          <i class="fa fa-plus" aria-hidden="true"></i> {{t "departments.addSecondarySupervisor"}}
        </a>
        <span>
      </li>
    </ul>
    <span class="help-block">{{t "departments.secondarySupervisorsHelp" department=department.name}}</span>
  </div>


  <div class="form-group">
    <label for="allowance_select">{{t "departments.allowance"}}</label>

    <select class="form-control" name="allowance" id="allowance_select">
        {{#each allowance_options}}
        <option value="{{value}}" {{#if_equal this.value ../department.allowance}} selected="selected"{{/if_equal}}>{{caption}}</option>
        {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label for="use_bank_holidays_inp" class="control-label">
      <input class="" id="use_bank_holidays_inp" name="include_public_holidays" type="checkbox" {{# if department.include_public_holidays}} checked="checked"  {{/if}} >
      {{t "departments.includePublicHolidays"}}
    </label>
    <span class="help-block">{{t "departments.publicHolidaysHelpPrefix" department=department.name}} <a href="/settings/general/">{{t "departments.publicHolidaysHelpLink"}}</a> {{t "departments.publicHolidaysHelpSuffix"}}</span>
  </div>

  {{#feature_enabled "work_calendars"}}
    <div class="form-group">
      <label for="work_calendar_id" class="control-label">{{t "departments.workCalendar"}}</label>
      <select class="form-control" name="work_calendar_id" id="work_calendar_id">
        <option value="">{{t "departments.commonCalendarOnly"}}</option>
        {{#each company.work_calendars}}
          <option value="{{this.id}}" {{#if_equal ../department.WorkCalendarId this.id}}selected="selected"{{/if_equal}}>{{this.name}}</option>
        {{/each}}
      </select>
      <span class="help-block">{{t "departments.workCalendarHelp"}} <a href="/settings/bankholidays/">{{t "departments.workCalendarLink"}}</a>.</span>
    </div>
  {{/feature_enabled}}

  <div class="form-group">
    <label for="is_accrued_allowance_inp" class="control-label">
      <input class="" id="is_accrued_allowance_inp" name="is_accrued_allowance" type="checkbox" {{# if department.is_accrued_allowance}} checked="checked" {{/if}} >
      {{t "departments.accruedAllowance"}}
    </label>
    <span class="help-block">{{t "departments.accruedAllowanceHelp"}}</span>
  </div>

  <div class="form-group">
    <label for="notify_leave_start_reminder_inp" class="control-label">
      <input class="" id="notify_leave_start_reminder_inp" name="notify_leave_start_reminder" type="checkbox" {{# if department.notify_leave_start_reminder}} checked="checked" {{/if}} >
      {{t "departments.notifyLeaveStartReminder"}}
    </label>
    <span class="help-block">{{t "departments.notifyLeaveStartReminderHelp" days=14}}</span>
  </div>

  <div class="form-group">
    <label for="notify_leave_start_reminder_to_employee_inp" class="control-label">
      <input class="" id="notify_leave_start_reminder_to_employee_inp" name="notify_leave_start_reminder_to_employee" type="checkbox" {{# if department.notify_leave_start_reminder_to_employee}} checked="checked" {{/if}} >
      {{t "departments.notifyLeaveStartReminderToEmployee"}}
    </label>
    <span class="help-block">{{t "departments.notifyLeaveStartReminderToEmployeeHelp" days=14}}</span>
  </div>

</div>

<div class="admin-form-actions">
  <a class="btn btn-link" href="/settings/departments/">{{t "common.cancel"}}</a>
  <button id="save_changes_btn" type="submit" class="btn btn-success single-click">{{t "departments.saveChanges"}}</button>
</div>

</form>

{{> department_details/supervisers_modal department=department }}
