
<div class="modal fade book-leave-modal" id="{{container_id}}" tabindex="-1" role="dialog" aria-labelledby="{{container_id}}_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form method="POST" action="{{leave_modal_form_action}}" class="book-leave-form">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="{{t 'common.close'}}"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="{{container_id}}_label">{{t "leave.newAbsence"}}</h4>
      </div>
      <div class="modal-body">

          {{# if_equal logged_user.supervised_users.length 1 }}{{else}}
          <div class="form-group">
            <label for="employee" class="control-label">{{t "leave.forEmployee"}}</label>
            <select class="form-control" id="employee" name="user">
              {{#each logged_user.supervised_users}}
              <option value="{{@index}}" {{# if_equal this.id ../logged_user.id }}selected="selected"{{/if_equal}}>{{this.full_name}}</option>
              {{/each}}
            </select>
          </div>
          {{/if_equal}}

          <div class="form-group book-leave-type-field">
            <label for="leave_type" class="control-label">{{t "leave.type"}}</label>
            <select class="form-control" id="leave_type" name="leave_type" required>
            {{# is_force_to_explicitly_select_type_when_requesting_new_leave}}
              <option disabled selected value>-- {{t "common.selectOption"}} --</option>
            {{/ is_force_to_explicitly_select_type_when_requesting_new_leave}}
            {{#each logged_user.company.leave_types }}
              <option value={{this.id}} data-tom="{{this.name}}" data-tom-index={{@index}}>{{this.name}}</option>
            {{/each}}
            </select>
          </div>

          <fieldset class="book-leave-date-field">
            <legend id="{{container_id}}_from_label">{{t "common.from"}}</legend>
            <div class="book-leave-date-controls">
              <div class="book-leave-day-part">
                <select class="form-control" name="from_date_part" aria-labelledby="{{container_id}}_from_label">
                  <option value="1" selected="selected">{{t "leave.allDay"}}</option>
                  <option value="2">{{t "leave.morning"}}</option>
                  <option value="3">{{t "leave.afternoon"}}</option>
                </select>
              </div>
              <div class="book-leave-date-input">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  <input type="text" class="form-control book-leave-from-input" id="from" data-provide="datepicker" data-date-autoclose="1" data-date-format="{{# with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date booking_start}}" name="from_date" aria-labelledby="{{container_id}}_from_label" required>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset class="book-leave-date-field">
            <legend id="{{container_id}}_to_label">{{t "common.to"}}</legend>
            <div class="book-leave-date-controls">
              <div class="book-leave-day-part">
                <select class="form-control" name="to_date_part" aria-labelledby="{{container_id}}_to_label">
                  <option value="1" selected="selected">{{t "leave.allDay"}}</option>
                  <option value="2">{{t "leave.morning"}}</option>
                  <option value="3">{{t "leave.afternoon"}}</option>
                </select>
              </div>
              <div class="book-leave-date-input">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                  <input type="text" class="form-control book-leave-to-input" id="to" data-provide="datepicker" data-date-autoclose="1" data-date-format="{{#with logged_user.company }}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date booking_end}}" name="to_date" aria-labelledby="{{container_id}}_to_label" required>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="book-leave-forecast alert alert-info"
               role="status"
               aria-live="polite"
               hidden
               data-forecast-url="/calendar/leave-balance-forecast/"
               data-tpl-summary="{{t "leave.forecast.summary"}}"
               data-tpl-exceed="{{t "leave.forecast.exceed"}}"
               data-tpl-no-allowance="{{t "leave.forecast.noAllowance"}}"
               data-tpl-spans-years="{{t "leave.forecast.spansYears"}}">
          </div>

          <div class="form-group">
            <label for="leave_reason" class="control-label">{{t "leave.commentOptional"}}</label>
            <textarea class="form-control" id="leave_reason" name="reason" rows="3"></textarea>
          </div>

      </div>
      <div class="modal-footer">
        <input type="hidden" name="_csrf" value="{{csrf_token}}">
        <button type="button" class="btn btn-link" data-dismiss="modal">{{t "common.cancel"}}</button>
        <button type="submit" class="btn btn-success single-click">{{t "common.create"}}</button>
        {{# if redirect_back_to }}
          <input type="hidden" name="redirect_back_to" value="{{redirect_back_to}}">
        {{else}}
          <input type="hidden" name="redirect_back_to" value="{{requested_path}}">
        {{/if}}
      </div>
    </form>
    </div>
  </div>
</div>
