<div class="header">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">{{t "nav.toggle"}}</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_to_the_site_root}}">{{t "brand.name"}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        {{# if logged_user }}
          <li><a href="/calendar/">{{t "nav.calendar"}}</a></li>
          {{# unless keep_team_view_hidden }}
            <li><a href="/calendar/teamview/">{{t "nav.teamView"}}</a></li>
          {{/ unless }}
          {{# if logged_user.admin }}
            <li class="hidden-xs"><a href="/users/">{{t "nav.employees"}}</a></li>
          {{/if}}
          <li class="navbar-form navbar-left">
            <div class="form-group">
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#book_leave_modal" id="book_time_off_btn">{{t "nav.newAbsence"}}</button>
            </div>
          </li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="theme-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{t "theme.label"}}: <span class="theme-label">{{t "theme.light"}}</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-theme-value="light">{{t "theme.light"}}</a></li>
            <li><a href="#" data-theme-value="dark">{{t "theme.dark"}}</a></li>
          </ul>
        </li>
        <li class="dropdown hidden-xs">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            {{t "language.label"}}: {{#if_equal locale "ru"}}{{t "language.russian"}}{{else}}{{t "language.english"}}{{/if_equal}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/language/en">{{t "language.english"}}</a></li>
            <li><a href="/language/ru">{{t "language.russian"}}</a></li>
          </ul>
        </li>
        <li>
          {{#if logged_user }}
            <li class="dropdown" id="header-notification-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="fa fa-bell-o"></span>
                <span class="label label-info notification-badge hidden"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li class="dropdown-header">{{t "nav.notificationsEmpty"}}</li>
              </ul>
            </li>
            {{#if logged_user.admin }}
            <li class="dropdown hidden-xs">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-gears"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/settings/general/">{{t "nav.general"}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/settings/departments/">{{t "nav.departments"}}</a></li>
                <li><a href="/settings/groups/">{{t "nav.groups"}}</a></li>
                <li><a href="/settings/bankholidays/">{{t "nav.bankHolidays"}}</a></li>
                <li><a href="/settings/company/authentication/">{{t "nav.ldapConfig"}}</a></li>
                <li><a href="/settings/company/integration-api/">{{t "nav.apiConfig"}}</a></li>
                <li><a href="/users/import/">{{t "nav.importEmployees"}}</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/audit/email/">{{t "nav.emailsAudit"}}</a></li>
                <li><a href="/reports/">{{t "nav.reports"}}</a></li>
              </ul>
            </li>
            {{/if}}
            <li class="visible-xs-block"><a href="/requests/">{{t "nav.requests"}}</a></li>
            <li class="visible-xs-block"><a href="/logout/">{{t "nav.logout"}}</a></li>
            <li class="dropdown hidden-xs">
              <a id="me_menu" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{t "nav.me"}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/requests/">{{t "nav.requests"}}</a></li>
                <li class="hidden-xs"><a href="/calendar/feeds/">{{t "nav.feeds"}}</a></li>
                <li role="separator" class="divider hidden-xs"></li>
                <li><a href="/logout/">{{t "nav.logout"}}</a></li>
              </ul>
            </li>
          {{else}}
            <li><a href="/login/">{{t "nav.login"}}</a></li>
          {{/if}}
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{# if logged_user }}
  {{# if logged_user.company.company_wide_message  }}
    <div class="alert alert-danger" role="alert">{{ logged_user.company.company_wide_message }}</div>
  {{/if}}
{{/if}}

</div>
