<li><a href="#" class="btn btd-default leave_type_color_1" data-tom-color-picker-css-class="leave_type_color_1">{{t "common.color" number=1}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_2" data-tom-color-picker-css-class="leave_type_color_2">{{t "common.color" number=2}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_3" data-tom-color-picker-css-class="leave_type_color_3">{{t "common.color" number=3}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_4" data-tom-color-picker-css-class="leave_type_color_4">{{t "common.color" number=4}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_5" data-tom-color-picker-css-class="leave_type_color_5">{{t "common.color" number=5}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_6" data-tom-color-picker-css-class="leave_type_color_6">{{t "common.color" number=6}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_7" data-tom-color-picker-css-class="leave_type_color_7">{{t "common.color" number=7}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_8" data-tom-color-picker-css-class="leave_type_color_8">{{t "common.color" number=8}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_9" data-tom-color-picker-css-class="leave_type_color_9">{{t "common.color" number=9}}</a></li>
<li><a href="#" class="btn btd-default leave_type_color_10" data-tom-color-picker-css-class="leave_type_color_10">{{t "common.color" number=10}}</a></li>
