
<div class="btn-group schedule-week-grid" data-toggle="buttons" role="group" aria-label="{{t "schedule.title"}}">
  {{#with schedule}}
  <label class="btn btn-default{{# if (works_monday   ) }} active{{/if }}" id="schedule_item_monday"><input name="monday" type="checkbox" autocomplete="off" {{# if (works_monday   ) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.mon"}}</span></label>
  <label class="btn btn-default{{# if (works_tuesday  ) }} active{{/if }}" id="schedule_item_tuesday"><input name="tuesday" type="checkbox" autocomplete="off" {{# if (works_tuesday  ) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.tue"}}</span></label>
  <label class="btn btn-default{{# if (works_wednesday) }} active{{/if }}" id="schedule_item_wednesday"><input name="wednesday" type="checkbox" autocomplete="off" {{# if (works_wednesday) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.wed"}}</span></label>
  <label class="btn btn-default{{# if (works_thursday ) }} active{{/if }}" id="schedule_item_thursday"><input name="thursday" type="checkbox" autocomplete="off" {{# if (works_thursday ) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.thu"}}</span></label>
  <label class="btn btn-default{{# if (works_friday   ) }} active{{/if }}" id="schedule_item_friday"><input name="friday" type="checkbox" autocomplete="off" {{# if (works_friday   ) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.fri"}}</span></label>
  <label class="btn btn-default{{# if (works_saturday ) }} active{{/if }}" id="schedule_item_saturday"><input name="saturday" type="checkbox" autocomplete="off" {{# if (works_saturday ) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.sat"}}</span></label>
  <label class="btn btn-default{{# if (works_sunday   ) }} active{{/if }}" id="schedule_item_sunday"><input name="sunday" type="checkbox" autocomplete="off" {{# if (works_sunday   ) }}checked{{/if}}><span class="fa fa-check schedule-day-check" aria-hidden="true"></span><span>{{t "schedule.weekdayShort.sun"}}</span></label>
  {{/ with }}
</div>
