<h1>Аудит-лог</h1>
<p class="muted">Последние 100 записей</p>
<table>
  <thead>
    <tr>
      <th>Время</th>
      <th>Кто</th>
      <th>Действие</th>
      <th>Тип</th>
      <th>ID</th>
      <th>Детали</th>
    </tr>
  </thead>
  <tbody>
    {{#each logs}}
    <tr>
      <td>{{this.timestamp}}</td>
      <td>{{this.actorName}}</td>
      <td><code>{{this.action}}</code></td>
      <td>{{this.entityType}}</td>
      <td><code>{{this.entityId}}</code></td>
      <td class="details-cell">{{this.detailsSummary}}</td>
    </tr>
    {{else}}
    <tr><td colspan="6">Записей пока нет.</td></tr>
    {{/each}}
  </tbody>
</table>
