<h1>Лицензия</h1>
<table class="detail-table">
  <tr><th>Клиент</th><td>{{license.customerName}}</td></tr>
  <tr><th>План</th><td>{{license.planName}}</td></tr>
  <tr><th>Фичи</th><td>{{license.featuresList}}</td></tr>
  <tr><th>Срок</th><td>{{license.expiresAtDisplay}}</td></tr>
  <tr><th>Алгоритм</th><td>{{license.algorithm}}</td></tr>
  <tr><th>Выпущена</th><td>{{license.issuedAtDisplay}}</td></tr>
  <tr><th>Кем</th><td>{{license.actorName}}</td></tr>
  {{#if license.seats}}
  <tr><th>Мест</th><td>{{license.seats}}</td></tr>
  {{/if}}
  {{#if license.customerDomainsList}}
  <tr><th>Домены</th><td>{{license.customerDomainsList}}</td></tr>
  {{/if}}
  {{#if license.externalCustomerId}}
  <tr><th>Внешний ID</th><td>{{license.externalCustomerId}}</td></tr>
  {{/if}}
  {{#if license.operatorNotes}}
  <tr><th>Заметки</th><td>{{license.operatorNotes}}</td></tr>
  {{/if}}
  {{#if license.issueReason}}
  <tr><th>Причина</th><td>{{license.issueReason}}</td></tr>
  {{/if}}
  {{#if license.replacementOfLicenseLink}}
  <tr><th>Заменяет</th><td><a href="{{{license.replacementOfLicenseLink}}}">{{license.replacementOfLicenseId}}</a></td></tr>
  {{/if}}
  {{#if license.replacedByLinks.length}}
  <tr><th>Заменена на</th><td>
    {{#each license.replacedByLinks}}
    <a href="{{{this.url}}}">{{this.id}}</a>{{#unless @last}}, {{/unless}}
    {{/each}}
  </td></tr>
  {{/if}}
  {{#if license.lifecycleNote}}
  <tr><th>Примечание цикла</th><td>{{license.lifecycleNote}}</td></tr>
  {{/if}}
  <tr><th>Payload Hash</th><td><code>{{license.payloadHash}}</code></td></tr>
  <tr><th>License Hash</th><td><code>{{license.licenseHash}}</code></td></tr>
</table>
<div class="actions">
  <a href="/licenses/{{license.id}}/download" class="btn">Скачать JSON</a>
  <a href="/licenses" class="btn btn-secondary">Назад к списку</a>
</div>
