{{!

  This sub template renders Employee's allowance breakdown.

  It relies on following entries in context:

    * user_allowance - an object representing current employee's allowance

}}

<dl>
  <dt>{{t "allowanceBreakdown.title"}}
    <i class="fa fa-question-circle"
      data-content="{{t 'allowanceBreakdown.help'}}"
      data-placement="top"
      data-toggle="popover"
      data-trigger="focus hover"
    ></i>
  </dt>
    <dd>
      <em>{{t "allowanceBreakdown.nominal"}}</em>
      <span class="pull-right"
        data-content="{{t 'allowanceBreakdown.nominalHelp'}}"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id='nominalAllowancePart'
      >{{ user_allowance.nominal_allowance }}</span>
    </dd>
    <dd>
      <em>{{#if previous_year}}{{t "allowanceBreakdown.carriedOver" year=previous_year}}{{else}}{{t "allowanceBreakdown.carriedOverPrevious"}}{{/if}}</em>
      <span class="pull-right"
        data-content="{{t 'allowanceBreakdown.carriedOverHelp'}}"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
        id="allowanceCarriedOverPart"
      >{{ user_allowance.carry_over }}</span>
    </dd>
    <dd>
      <em>{{t "allowanceBreakdown.individualAdjustment"}}</em>
      <span class="pull-right"
        data-content="{{t 'allowanceBreakdown.individualAdjustmentHelp'}}"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.manual_adjustment }}</span>
    </dd>
    <dd>
      <em>{{t "allowanceBreakdown.employmentRange"}}</em>
      <span class="pull-right"
        data-content="{{t 'allowanceBreakdown.employmentRangeHelp'}}"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{ user_allowance.employement_range_adjustment }}</span>
    </dd>
    <dd>
      <em>{{t "allowanceBreakdown.usedSoFar"}}</em>
      <span class="pull-right"
        data-content="{{t 'allowanceBreakdown.usedSoFarHelp'}}"
        data-placement="top"
        data-toggle="popover"
        data-trigger="focus hover"
      >{{#if_equal user_allowance.number_of_days_taken_from_allowance 0}}{{else}}-{{/if_equal}}{{ user_allowance.number_of_days_taken_from_allowance}}</span>
    </dd>
    {{# if user_allowance.is_accrued_allowance }}
      <dd>
        <em>{{t "allowanceBreakdown.lockedSoFar"}}</em>
        <span class="pull-right"
          data-content="{{t 'allowanceBreakdown.lockedSoFarHelp'}}"
          data-placement="top"
          data-toggle="popover"
          data-trigger="focus hover"
        >{{ user_allowance.accrued_adjustment }}</span>
      </dd>
    {{/ if}}
</dl>
