
<section class="admin-form-card employee-calendar-card">
  {{> user_details/breadcrumb employee=employee }}

  <div class="row period-navigation">
    <div class="col-xs-2 period-navigation-side">
      <a class="btn btn-default" href="/users/edit/{{current_user.id}}/calendar/?year={{previous_year}}"><span aria-hidden="true" class="fa fa-chevron-left"></span> {{previous_year}} </a>
    </div>
    <div class="col-xs-8 calendar-section-caption">
      <h2 class="employee-calendar-year">{{current_year}}</h2>
    </div>
    <div class="col-xs-2 period-navigation-side">
      {{#if show_full_year}}
      <a class="btn btn-default pull-right" href="/users/edit/{{current_user.id}}/calendar/?year={{next_year}}{{#if show_full_year}}&show_full_year=1{{/if}}">{{next_year}} <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
      {{/if}}
    </div>
  </div>

  <div class="row employee-calendar-statistics">

    <div class="col-sm-4 top-leave-type-statistics">
      <dl>
        {{#with current_user }}
        <dt data-tom-days-available-in-allowance>{{ ../user_allowance.number_of_days_available_in_allowance }}</dt>
        <dd>{{t "calendar.daysAvailable"}}</dd>
        <dd>{{t "calendar.outOfAllowance" total=../user_allowance.total_number_of_days_in_allowance}}</dd>
        {{/with}}
      </dl>
    </div>

    <div class="col-sm-4 secondary-leave-type-statistics hidden-xs">
      {{> user_details/allowance_breakdown user_allowance = user_allowance }}
    </div>

    <div class="col-sm-4 secondary-leave-type-statistics hidden-xs">
      <dl>
        <dt>{{t "calendar.usedSoFar"}}</dt>

        {{# if leave_type_statistics }}
          {{# each leave_type_statistics }}
            <dd><em>{{this.leave_type.name}}:</em> <span class="pull-right">{{this.days_taken}}{{# if this.limit}} {{t "common.outOf" limit=this.limit}}{{/if}}</span></dd>
          {{/each}}
        {{else}}

          <dd class="text-muted">{{t "calendar.noApprovedRequests"}}</dd>
        {{/if}}
      </dl>
    </div>

  </div>

  <div class="row clearfix employee-calendar-months">
    {{# each calendar}}
    <div class="col-md-4 month_container">
      <table class="calendar_month month_{{ this.month }}" aria-label="{{this.month}}">
      <caption class="sr-only">{{this.month}}</caption>
      <thead>
      <tr>
        <th colspan="14" scope="colgroup">{{this.month}}</th>
      </tr>
      <tr>
        <th colspan="2" scope="col">{{t "calendar.weekdayShort.mon"}}</th>
        <th colspan="2" scope="col">{{t "calendar.weekdayShort.tue"}}</th>
        <th colspan="2" scope="col">{{t "calendar.weekdayShort.wed"}}</th>
        <th colspan="2" scope="col">{{t "calendar.weekdayShort.thu"}}</th>
        <th colspan="2" scope="col">{{t "calendar.weekdayShort.fri"}}</th>
        <th colspan="2" scope="col" class="calendar_weekend_header">{{t "calendar.weekdayShort.sat"}}</th>
        <th colspan="2" scope="col" class="calendar_weekend_header">{{t "calendar.weekdayShort.sun"}}</th>
      </tr>
      </thead>
      <tbody>
      {{#each this.weeks }}
      <tr>
        {{#each this}}
          {{> calendar_cell day = this}}
        {{/each}}
      </tr>
      {{/each}}

      </tbody></table>
    </div>
    {{/each}}
  </div>

</section>
