{{t "emails.addNewUser.subject" name=new_user.full_name}}
=====
<p>{{t "emails.greeting" name=new_user.name}}</p>

<p>{{t "emails.addNewUser.body" admin=admin_user.full_name company=company.name}}</p>

<p>{{t "emails.addNewUser.passwordContact" admin=admin_user.name}} {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>{{t "emails.addNewUser.alternative"}}:

{{# with new_user ~}}
{{> email/link href=(concatenate (get_application_domain) '/reset-password/?t=' (this.get_reset_password_token)) text=(t "emails.addNewUser.action")}}
{{/ with }}

</p>

<p>{{t "emails.thanks"}}</p>
