{{t "emails.confirmRegistration.subject"}}
=====
<p>{{t "emails.greeting" name=name}}</p>

<p>{{t "emails.confirmRegistration.body"}}</p>

<p>{{confirm_registration_link}}</p>

<p>{{t "emails.thanks"}}</p>
