{{t "emails.confirmRegistration.subject" brand=(brand_name)}}
=====
<p>{{t "emails.greeting" name=name}}</p>

<p>{{t "emails.confirmRegistration.body" brand=(brand_name)}}</p>

<p>{{confirm_registration_link}}</p>

<p>{{t "emails.thanks"}}</p>
