{{t "emails.leaveCancel.subjectSupervisor"}}
=====
<p>{{t "emails.greeting" name=approver.full_name}}</p>

<p>{{t "emails.leaveRevoke.cancelled" requester=requester.full_name}} <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>{{t "emails.leaveCancel.noAction"}}</p>

<p>{{t "emails.thanks"}}</p>
