{{t "emails.leaveStartReminder.subjectSupervisor" daysBefore=daysBefore}}
=====
<p>{{t "emails.greeting" name=(full_name recipient)}}</p>

<p>{{t "emails.leaveStartReminder.supervisorBody" employee=(full_name employee) daysBefore=daysBefore}} <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>{{t "emails.leaveStartReminder.supervisorAction" employee=(full_name employee) department=department.name}}</p>

<p>{{t "emails.leaveStartReminder.openEmployeeProfile"}} {{> email/link href=(concatenate (get_application_domain) '/users/edit/' employee.id '/' ) text=(t "emails.leaveStartReminder.employeeProfileLink")}}.</p>

<p>{{t "emails.thanks"}}</p>
