{{t "emails.leaveStartReminder.subjectEmployee" daysBefore=daysBefore}}
=====
<p>{{t "emails.greeting" name=(full_name recipient)}}</p>

<p>{{t "emails.leaveStartReminder.employeeBody" daysBefore=daysBefore}} <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>{{t "emails.leaveStartReminder.employeeAction" department=department.name}}</p>

<p>{{t "emails.leaveStartReminder.openCalendar"}} {{> email/link href=(concatenate (get_application_domain) '/calendar/' ) text=(t "emails.leaveStartReminder.calendarLink")}}.</p>

<p>{{t "emails.thanks"}}</p>
