{{t "emails.leaveRequest.subjectAwaiting"}}
=====
<p>{{t "emails.greeting" name=requester.full_name}}</p>

<p>{{t "emails.leaveRequest.sentTo" approver=approver.full_name}} <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>{{t "emails.leaveRequest.followUp"}}</p>

<p>{{t "emails.thanks"}}</p>
