
{{> header }}

<a class="sr-only sr-only-focusable" href="#main-content">{{t "nav.skipToMainContent"}}</a>
<main id="main-content" tabindex="-1">
<div class="page-heading calendar-page-heading">
  <div>
    <p class="page-eyebrow">{{t "calendar.calendarTitle"}}</p>
    <h1>{{t "calendar.employeeCalendar"}}</h1>
    <p class="lead">{{t "calendar.userCalendarForYear" name=logged_user.name lastname=logged_user.lastname year=current_year}}</p>
  </div>
  <div class="page-heading-actions">
    <a class="btn btn-default" href="/calendar/feeds/" data-toggle="tooltip" data-placement="left" title="{{t 'calendar.exportAbsences'}}">
      <span class="fa fa-rss" aria-hidden="true"></span>
      <span>{{t "calendar.exportAbsences"}}</span>
    </a>
  </div>
</div>

{{> show_flash_messages }}

<section class="calendar-summary" aria-labelledby="calendar-statistics-title">
  <div class="section-heading">
    <div>
      <p class="page-eyebrow">{{t "calendar.employeeCalendar"}}</p>
      <h2 id="calendar-statistics-title">{{t "calendar.statistics"}}</h2>
    </div>
  </div>

  <div class="calendar-summary-grid">
  <article class="summary-card summary-card-primary top-leave-type-statistics">
    <dl>
      {{#with current_user }}
      <dt data-tom-days-available-in-allowance>{{ ../user_allowance.number_of_days_available_in_allowance }}</dt>
      <dd>{{t "calendar.daysAvailable"}}</dd>
      <dd>{{t "calendar.outOfAllowance" total=../user_allowance.total_number_of_days_in_allowance}}</dd>
      {{/with}}
    </dl>
  </article>

  <article class="summary-card secondary-leave-type-statistics">
    {{> user_details/allowance_breakdown user_allowance = user_allowance }}
  </article>

  <article class="summary-card secondary-leave-type-statistics">
    <dl>
      <dt>{{t "calendar.usedSoFar"}}</dt>

      {{# if leave_type_statistics }}
        {{# each leave_type_statistics }}
            <dd><em>{{this.leave_type.name}}:</em> <span class="pull-right">{{this.days_taken}}{{# if this.limit}} {{t "common.outOf" limit=this.limit}}{{/if}}</span></dd>
        {{/each}}
      {{else}}

        <dd class="text-muted">{{t "calendar.noApprovedRequests"}}</dd>
      {{/if}}
    </dl>
  </article>

  <article class="summary-card secondary-leave-type-statistics">
    <dl>
      <dt>{{t "calendar.details"}}</dt>
      {{~# each supervisors  ~}}
      <dd>
        <em>{{# if  @first }} {{t "calendar.supervisor"}} {{ else   }}  &nbsp;   {{/ if  }}</em>
        <span class="pull-right"><a href="mailto:{{this.email}}">{{ this.full_name }}</a></span>
      </dd>
      {{~/ each ~}}
      <dd><em>{{t "calendar.department"}}:</em> <span class="pull-right"><a href="/calendar/teamview/?department={{ current_user.department.id }}">{{ current_user.department.name }}</a></span></dd>
      <dd><em>{{t "calendar.allowanceInYear" year=current_year}}:</em><span class="pull-right"><span data-tom-total-days-in-allowance>{{ user_allowance.total_number_of_days_in_allowance }}</span> {{t "calendar.daysLabel"}}</span></dd>
    </dl>
  </article>
  </div>
</section>

<section class="calendar-workspace" aria-labelledby="calendar-grid-title">
<div class="calendar-toolbar">
  <div class="section-heading calendar-toolbar-heading">
    <div>
      <p class="page-eyebrow">{{t "calendar.employeeCalendar"}}</p>
      <h2 id="calendar-grid-title">{{t "calendar.calendarTitle"}}</h2>
    </div>
  </div>
<nav class="row period-navigation" aria-label="{{t "calendar.calendarTitle"}}">
  <div class="col-xs-2 period-navigation-side">
    {{#if show_full_year}}
    <a class="btn btn-default" href="/calendar/?year={{previous_year}}{{#if show_full_year}}&show_full_year=1{{/if}}" aria-label="{{previous_year}}"><span aria-hidden="true" class="fa fa-chevron-left"></span> <span>{{previous_year}}</span></a>
    {{/if}}
  </div>
  <div class="col-xs-8 calendar-section-caption">

    <strong>{{#if show_full_year}}{{t "calendar.monthRange" year=current_year}}{{else}}{{t "calendar.upcomingMonths"}}{{/if}}</strong>

    {{# unless show_full_year}}
    <a class="btn btn-default btn-sm" href="/calendar/?show_full_year=1">{{t "calendar.more"}} <span class="fa fa-plus" aria-hidden="true"></span></a>
    {{else}}
    <a class="btn btn-default btn-sm" href="/calendar/">{{t "calendar.less"}} <span class="fa fa-minus" aria-hidden="true"></span></a>
    {{/unless}}


  </div>
  <div class="col-xs-2 period-navigation-side">
    {{#if show_full_year}}
    <a class="btn btn-default pull-right" href="/calendar/?year={{next_year}}{{#if show_full_year}}&show_full_year=1{{/if}}" aria-label="{{next_year}}"><span>{{next_year}}</span> <span aria-hidden="true" class="fa fa-chevron-right"></span></a>
    {{/if}}
  </div>
</nav>
</div>

<div class="row clearfix calendar-month-grid">

    {{# each calendar}}
    <div class="col-md-3 month_container">
        <table class="calendar_month month_{{ this.month }}" aria-label="{{#if ../show_full_year}}{{this.month}}{{else}}{{as_date_formatted this.moment 'MMMM, YYYY'}}{{/if}}">
        <caption class="sr-only">{{#if ../show_full_year}}{{this.month}}{{else}}{{as_date_formatted this.moment 'MMMM, YYYY'}}{{/if}}</caption>
        <thead>
        <tr>
            <th colspan="14" scope="colgroup">{{#if ../show_full_year}}{{this.month}}{{else}}{{as_date_formatted this.moment 'MMMM, YYYY'}}{{/if}}</th>
        </tr>
        <tr>
            <th colspan="2" scope="col">{{t "calendar.weekdayShort.mon"}}</th>
            <th colspan="2" scope="col">{{t "calendar.weekdayShort.tue"}}</th>
            <th colspan="2" scope="col">{{t "calendar.weekdayShort.wed"}}</th>
            <th colspan="2" scope="col">{{t "calendar.weekdayShort.thu"}}</th>
            <th colspan="2" scope="col">{{t "calendar.weekdayShort.fri"}}</th>
            <th colspan="2" scope="col" class="calendar_weekend_header">{{t "calendar.weekdayShort.sat"}}</th>
            <th colspan="2" scope="col" class="calendar_weekend_header">{{t "calendar.weekdayShort.sun"}}</th>
        </tr>
        </thead>
        <tbody>
        {{#each this.weeks }}
        <tr>
            {{#each this}}
              {{> calendar_cell day = this}}
            {{/each}}
        </tr>
        {{/each}}

        </tbody></table>
    </div>
    {{/each}}

</div>
</section>

{{# unless show_full_year}}

  <div class="row main-row_header">
    <p class="col-md-12">{{t "calendar.allAbsencesInYear" year=current_year}}</p>
  </div>

  {{> user_requests leaves=current_user.my_leaves table_label=(t "calendar.allAbsencesInYear" year=current_year) }}

{{/unless}}

</main>

{{> footer }}
