
{{> header }}

<a class="sr-only sr-only-focusable" href="#main-content">{{t "nav.skipToMainContent"}}</a>

<main id="main-content" tabindex="-1">

<h1>{{t "departments.title"}}</h1>

{{> show_flash_messages }}

<div class="row admin-page-header">
  <div class="col-sm-7 lead">{{t "departments.bulkEditTitle"}}</div>
  <div class="col-sm-5 admin-page-actions">
    <a href='/settings/departments/' class="btn btn-link">{{t "departments.overviewLink"}}</a>
    <button class="btn btn-info" data-toggle="modal" data-target="#add_new_department_modal" type="button" id="add_new_department_btn">{{t "departments.addNew"}}</button>
  </div>
</div>

<div class="content-spacer-sm"></div>

<div class="row departments-bulk-header">
    <div class="col-md-4"><label class="control-label">{{t "common.name"}}</label></div>
    <div class="col-md-3"><label class="control-label">{{t "departments.allowance"}}</label></div>
    <div class="col-md-3"><label class="control-label">{{t "departments.manager"}}</label></div>
    <div class="col-md-2"><label class="control-label">{{t "departments.numberEmployees"}}</label></div>
</div>

<div class="content-spacer-sm"></div>

<form id="delete_form" method="post" action="/settings/departments/delete/"><input type="hidden" name="_csrf" value="{{csrf_token}}"></form>

<form method="post" action="/settings/departments-bulk-update/" id="edit_department_form">
  <input type="hidden" name="_csrf" value="{{csrf_token}}">

{{# unless departments.length }}
<div class="row">
    <div class="col-md-12"><div class="empty-state">{{t "departments.noDepartments"}}</div></div>
</div>
{{/unless}}

{{#each departments}}
<div class="row departments-bulk-row">

    <div class="col-md-4">
        <input type="text" class="form-control" value="{{name}}" name="name__{{@index}}">
    </div>

    <div class="col-md-1">
        <select class="form-control" name="allowance__{{@index}}">
            {{#each ../allowance_options}}
            <option value="{{value}}" {{#if_equal this.value ../allowance}} selected="selected"{{/if_equal}}>{{caption}}</option>
            {{/each}}
        </select>
    </div>

    <div class="col-md-2">
        <input name="include_public_holidays__{{@index}}" id="include_public_holidays__{{@index}}" type="checkbox" {{#if include_public_holidays}}checked="checked"{{/if}}>
        <label for="include_public_holidays__{{@index}}" class="control-label">{{t "departments.publicHolidays"}}</label>
    </div>

    <div class="col-md-3">
        <select class="form-control" name="boss_id__{{@index}}">
        {{#each ../company.users}}
            <option value="{{this.id}}" {{#if_equal this.id ../bossId}} selected="selected"{{/if_equal}}>{{this.full_name}}</option>
        {{/each}}
        </select>

   </div>

    <div class="col-md-1"><a class="" href="/users/?department={{ this.id }}">{{this.users.length}}</a></div>

    <div class="col-md-1">
        <button type="button" class="btn btn-default pull-right departments-remove-btn" data-vpp="{{ @index }}" value="{{ this.id }}" aria-label="{{t "common.remove"}}"><span class="fa fa-remove" aria-hidden="true"></span></button>
    </div>
</div>

{{/each}}

<div class="row admin-form-actions">
  <div class="col-md-12">
    <a href='/settings/departments-bulk-update/' class="btn btn-link">{{t "common.cancel"}}</a>
    <button type="submit" class="btn btn-success single-click">{{t "common.saveChanges"}}</button>
  </div>
</div>

</form>

{{> add_new_department_modal
  container_id='add_new_department_modal'
  form_action='/settings/departments-bulk-update/'
}}

</main>

{{> footer }}
