

{{> header }}

<h1>{{t "generalSettings.title"}}</h1>

<p class="lead">{{t "generalSettings.subtitle"}}</p>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{t "generalSettings.companyPanelTitle"}}
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-md-5">
            <form class="form-horizontal" method="POST" action="/settings/company/" id="company_edit_form">
              <div class="form-group">
                <label for="input_company_name" class="col-md-4 control-label">{{t "generalSettings.companyNameLabel"}}</label>
                <div class="col-md-8">
                  <input class="form-control" id="input_company_name" placeholder="{{t "generalSettings.companyNamePlaceholder"}}" value="{{company.name}}" name="name">
                </div>
              </div>
              <div class="form-group">
                <label for="input_country" class="col-md-4 control-label">{{t "generalSettings.countryLabel"}}</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_country" name="country">
                    {{#each countries}}
                    <option value="{{@key}}" {{# if_equal @key ../company.country }} selected="selected"{{/if_equal}}>{{@key}}: {{this.name}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="input_date_format" class="col-md-4 control-label">{{t "generalSettings.dateFormatLabel"}}</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_date_format" name="date_format">
                    {{#with company}}
                    {{#each this.get_available_date_formats}}
                    <option value="{{this}}" {{# if_equal this ../date_format }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                    {{/with}}
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="input_time_zone" class="col-md-4 control-label">{{t "generalSettings.timeZoneLabel"}}</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_time_zone" name="timezone">
                    {{#each timezones_available}}
                    <option value="{{this}}" {{# if_equal this ../company.timezone }} selected="selected"{{/if_equal}}>{{this}}</option>
                    {{/each}}
                  </select>
                </div>
              </div>


              <div class="form-group">
                <label for="input_carry_over" class="col-md-4 control-label">{{t "generalSettings.carriedOverDaysLabel"}}</label>
                <div class="col-md-8">
                  <select class="form-control" id="input_carry_over" name="carry_over">
                    {{#each carryOverOptions}}
                    <option value="{{this.days}}" {{# if_equal this.days ../company.carry_over }} selected="selected"{{/if_equal}}>{{this.label}}</option>
                    {{/each}}
                  </select>
                    <p>
                      <em>{{t "generalSettings.carriedOverDaysHelp"}}</em>
                    </p>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="share-all-absences">
                      <input id="share-all-absences" type="checkbox" name="share_all_absences" {{# if company.share_all_absences }} checked="checked"{{/if}}>{{t "generalSettings.shareAbsencesLabel"}}
                    </label>
                    <p>
                      <em>{{t "generalSettings.shareAbsencesHelp"}}</em>
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                  <div class="checkbox">
                    <label for="is-team-view-hidden">
                      <input id="is-team-view-hidden" type="checkbox" name="is_team_view_hidden" {{# if company.is_team_view_hidden }} checked="checked"{{/if}}>{{t "generalSettings.hideTeamViewLabel"}}
                    </label>
                    <p>
                      <em>{{t "generalSettings.hideTeamViewHelp"}}</em>
                    </p>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                  <button type="submit" class="btn btn-success pull-right single-click">{{t "common.saveChanges"}}</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-offset-1 col-md-5">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-7 control-label">{{t "generalSettings.backupTitle"}}</label>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <em>{{t "generalSettings.backupHelp"}}</em>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-11">
                  <a class="btn btn-success pull-right" href="/settings/company/backup/"><i class="fa fa-download"></i> {{t "generalSettings.downloadBackup"}}</a>
                </div>
              </div>
            </div>

            <form class="form-horizontal" method="POST" action="/settings/schedule" id="company_schedule_form">
            <input type="hidden" name="company_wide" value="1">
            <div class="form-group">
              <label for="" class="col-md-6 control-label">{{t "generalSettings.companyWeekScheduleTitle"}}</label>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                {{> schedule_widget}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2">
                <em>{{t "generalSettings.companyWeekScheduleHelp"}}</em>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-11">
                <button type="submit" class="btn btn-success pull-right single-click">{{t "generalSettings.saveSchedule"}}</button>
              </div>
            </div>
            </form>

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-md-10 control-label">{{t "generalSettings.carryOverTitle"}}</label>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2">
                  <p><em>{{t "generalSettings.carryOverHelpFirst" yearPrev=yearPrev yearCurrent=yearCurrent}}</em></p>
                  <p><em>{{t "generalSettings.carryOverHelpSecond"}}</em></p>
                </div>
              </div>
              <div class="form-group">
                <form class="col-md-offset-2 col-md-11" id="calculate_carry_over_form" method="post" action="/settings/carryOverUnusedAllowance">
                  <button class="btn btn-success pull-right single-click" type="submit"><i class="fa fa-share"></i> {{t "generalSettings.carryOverButton"}}</button>
                </form>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{t "generalSettings.leaveTypesTitle"}}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">{{t "generalSettings.leaveTypeNameLabel"}}</label>
            <p><em>{{t "generalSettings.leaveTypeNameHelp"}}</em></p>
          </div>
          <div class="col-md-offset-3 col-md-2">
            <label class="control-label">{{t "generalSettings.leaveTypeLimitLabel"}}</label>
            <p><em>{{t "generalSettings.leaveTypeLimitHelp"}}</em></p>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        <form id="delete_leavetype_form" method="post" action="/settings/leavetypes/delete/"></form>
        <form id="leave_type_edit_form" method="post" action="/settings/leavetypes/">

        {{#unless leave_types.length }}
        <div class="row">
          <div class="col-md-4">{{t "generalSettings.noLeaveTypes"}}</div>
        </div>
        {{/unless}}

        {{#each leave_types}}
        <div class="row">
          <div class="col-md-6">

            <div class="input-group">
              <span class="input-group-addon">
                <input type="radio" name="first_record" value="{{ this.id }}" {{# if this.sort_order }}checked="checked"{{/ if}}>
              </span>
              <input type="text" class="form-control" name="name__{{ this.id }}" value="{{name}}" data-tom-leave-type-order="name_{{@index}}">

              <div class="input-group-btn" data-tom-color-picker="1" data-tom-leave-type-order="colour__{{@index}}">
                <input type="hidden" name="color__{{ this.id }}" value="{{# with this }}{{ this.get_color_class }}{{/with}}">
                <button type="button" class="btn btn-default dropdown-toggle {{# with this }}{{ this.get_color_class }}{{/with}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paint-brush"></i></button>
                <ul class="dropdown-menu">
                  {{> options_for_color_picker}}
                </ul>
              </div>

            </div>

          </div>

          <div class="col-md-3">
            <div>
              <input name="use_allowance__{{ this.id }}" id="use_allowance__{{ this.id }}" type="checkbox" {{#if use_allowance}}checked="checked"{{/if}} data-tom-leave-type-order="allowance_{{@index}}">
              <label for="use_allowance__{{ this.id }}" class="control-label">{{t "generalSettings.leaveTypeUseAllowance"}}</label>
            </div>
            <div>
              <input name="auto_approve__{{ this.id }}" id="auto_approve__{{ this.id }}" type="checkbox" {{#if auto_approve}}checked="checked"{{/if}} data-tom-leave-type-order="approve_{{@index}}">
              <label for="auto_approve__{{ this.id }}" class="control-label">{{t "generalSettings.leaveTypeAutoApprove"}}</label>
            </div>
          </div>
          <div class="col-md-2">
            <input type="number" class="form-control" value="{{limit}}" name="limit__{{ this.id }}" data-tom-leave-type-order="limit_{{@index}}">
          </div>
          <div class="col-md-1">
            <button class="btn btn-default pull-right leavetype-remove-btn" value="{{ this.id }}" data-tom-leave-type-order="remove_{{@index}}"><span class="fa fa-remove"></span></button>
          </div>
        </div>

        <div class="row">&nbsp;</div>

        {{/each}}

        <div class="row">&nbsp;</div>

        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button class="btn btn-default" data-toggle="modal" data-target="#add_new_leave_type_modal" type="button" id="add_new_leave_type_btn">{{t "common.addNew"}}</button>
              <button type="submit" class="btn btn-success single-click">{{t "common.saveChanges"}}</button>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5 setting-general-2nd-column">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{t "generalSettings.bankHolidaysTitle"}}
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 tst-no-bank-holidays">{{t "generalSettings.bankHolidaysHint"}} <a href="/settings/bankholidays/">{{t "generalSettings.bankHolidaysLink"}}</a></div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <i class="fa fa-bomb"></i> {{t "generalSettings.dangerZoneTitle"}}
      </div>
      <div class="panel-body">

          <div class="col-md-12">

            <div class="form-horizontal">
              <div class="form-group">
                <label for="" class="control-label">{{t "generalSettings.removeCompanyTitle"}}</label>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <p><em>{{t "generalSettings.removeCompanyHelp" company=company.name}}</em></p>
                  <p><em>{{t "generalSettings.removeCompanyWarning"}}</em></p>
                  <p><em>{{t "generalSettings.removeCompanyBackupHint"}} <a href="/settings/company/backup/">{{t "generalSettings.removeCompanyBackupLink"}}</a> {{t "generalSettings.removeCompanyBackupSuffix"}}</em></p>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-danger pull-right" data-toggle="modal" data-target="#remove_company_modal" type="button"><i class="fa fa-remove"></i> {{t "generalSettings.removeCompanyButton"}}</button>
                </div>
              </div>
            </div>

          </div>


      </div>
    </div>
  </div>
</div>

{{> add_new_leave_type_modal
  container_id='add_new_leave_type_modal'
  form_action='/settings/leavetypes/'
}}

{{> remove_company_modal
  container_id='remove_company_modal'
}}

{{> footer }}
