
{{> header }}

<div class="jumbotron">
<h1>{{t "home.title"}}</h1>
<p class="lead">{{t "home.subtitle"}}</p>
<p><a class="btn btn-lg btn-success" href="/register/" role="button">{{t "home.signUp"}}</a></p>
<p>{{t "home.orFork"}} <a href="https://github.com/vpp/vacation-tracker">GitHub</a></p>
</div>

<div class="row marketing">


<div class="col-lg-6">
  <h4>{{t "home.features.departmentsTitle"}}</h4>
  <p>{{t "home.features.departmentsDescription"}}</p>

  <h4>{{t "home.features.leaveTypesTitle"}}</h4>
  <p>{{t "home.features.leaveTypesDescription"}}</p>

  <h4>{{t "home.features.calendarIntegrationTitle"}}</h4>
  <p>{{t "home.features.calendarIntegrationDescription"}}</p>
</div>

<div class="col-lg-6">
  <h4>{{t "home.features.publicHolidaysTitle"}}</h4>
  <p>{{t "home.features.publicHolidaysDescription"}}</p>

  <h4>{{t "home.features.workflowTitle"}}</h4>
  <p>{{t "home.features.workflowDescription"}}</p>

  <h4></h4>
  <p></p>
</div>
</div>

{{> footer }}
