{{> header }}

<a class="sr-only sr-only-focusable" href="#main-content">{{t "nav.skipToMainContent"}}</a>
<main id="main-content" class="auth-page" tabindex="-1">
<div class="auth-layout">
<section class="auth-intro" aria-labelledby="auth-page-title">
  <div class="auth-intro-content">
    <div class="auth-product-mark" aria-hidden="true"><span class="fa fa-calendar-check-o"></span></div>
    <p class="auth-eyebrow">{{brand_name}}</p>
    <h1 id="auth-page-title">{{t "login.title"}}</h1>
    <p class="auth-intro-copy">{{#if features.sso_authentication}}{{t "login.ssoSubtitle"}}{{else}}{{t "login.passwordSubtitle"}}{{/if}}</p>
    <div class="auth-methods" aria-hidden="true">
      <span><i class="fa fa-lock"></i>{{t "login.passwordLoginTitle"}}</span>
      {{#if features.sso_authentication}}
      <span><i class="fa fa-building-o"></i>{{t "login.ssoTitle"}}</span>
      {{/if}}
    </div>
  </div>
</section>

<section class="auth-panel" aria-labelledby="password-login-title">
{{> show_flash_messages }}

<div class="auth-card">
<form action="/login" method="post" id="local_login_form">
  <input type="hidden" name="_csrf" value="{{csrf_token}}">

  <div class="auth-card-heading">
    <p class="auth-eyebrow">{{brand_name}}</p>
    <h2 id="password-login-title">{{t "login.passwordLoginTitle"}}</h2>
  </div>

  <div class="form-group">
    <label for="email_inp" class="control-label">{{t "login.employeeEmail"}}</label>
    <div class="auth-input">
      <span class="fa fa-envelope-o" aria-hidden="true"></span>
      <input class="form-control" id="email_inp" type="email" name="email" autocomplete="email" required>
    </div>
  </div>

  <div class="form-group">
    <label for="pass_inp" class="control-label">{{t "login.password"}}</label>
    <div class="auth-input">
      <span class="fa fa-lock" aria-hidden="true"></span>
      <input class="form-control" id="pass_inp" type="password" name="password" autocomplete="current-password" required>
    </div>
  </div>

  <button type="submit" class="btn btn-success btn-lg btn-block single-click auth-submit" id="submit_login">{{t "login.submit"}}</button>

  <div class="auth-actions">
    <a href="/forgot-password/">{{t "login.forgotPassword"}}</a>
    {{#if allow_create_new_accounts }}<a href="/register/">{{t "login.registerCompany"}}</a>{{/if}}
  </div>
</form>

{{#if features.sso_authentication}}
{{#if sso_login.has_sso_companies}}
<div class="auth-divider"><span>{{t "login.ssoTitle"}}</span></div>

<form class="auth-sso-block" action="/login/sso" method="post" id="sso_login_form">
  <input type="hidden" name="_csrf" value="{{csrf_token}}">
  <p class="help-block">{{t "login.ssoSubtitle"}}</p>

  {{#if sso_login.direct_sso_available}}
  <a href="{{sso_login.direct_sso_url}}" class="btn btn-default btn-block auth-sso-button" id="go_to_sso_login"><span class="fa fa-building-o" aria-hidden="true"></span>{{t "login.continueWithSso"}}</a>
  <p class="help-block">{{t "login.ssoDirectHint" company=sso_login.direct_sso_company_name provider=sso_login.direct_sso_provider_label}}</p>
  {{else}}
  <div class="form-group">
    <label for="sso_email_inp" class="control-label">{{t "login.employeeEmail"}}</label>
    <div class="auth-input">
      <span class="fa fa-building-o" aria-hidden="true"></span>
      <input class="form-control" id="sso_email_inp" type="email" name="email" autocomplete="email">
    </div>
    <span class="help-block">{{t "login.ssoHint"}}</span>
  </div>
  <button type="submit" class="btn btn-default btn-block single-click auth-sso-button" id="go_to_sso_login"><span class="fa fa-building-o" aria-hidden="true"></span>{{t "login.continueWithSso"}}</button>
  {{/if}}
</form>
{{else}}
<div class="auth-divider"><span>{{t "login.ssoTitle"}}</span></div>
<div class="auth-sso-block">
  <p class="help-block">{{t "login.ssoSubtitle"}}</p>
  <a href="/login/sso/" class="btn btn-default btn-block auth-sso-button" id="go_to_sso_login"><span class="fa fa-building-o" aria-hidden="true"></span>{{t "login.continueWithSso"}}</a>
</div>
{{/if}}
{{/if}}
</div>
</section>
</div>
</main>

{{> footer }}
