{{> header }}

<h1>{{t "timeBalance.title"}}</h1>

<p class="lead">{{t "timeBalance.subtitle"}}</p>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">{{t "timeBalance.newEntryTitle"}}</div>
      <div class="panel-body">
        <form method="POST" action="/time-balance/create/">
          {{#if manageableUsers.length}}
          <div class="form-group">
            <label for="time_balance_user_id" class="control-label">{{t "timeBalance.employee"}}</label>
            <select class="form-control" id="time_balance_user_id" name="user_id">
              {{#each manageableUsers}}
                <option value="{{this.id}}" {{#if_equal this.id ../logged_user.id}}selected="selected"{{/if_equal}}>{{full_name this}}</option>
              {{/each}}
            </select>
          </div>
          {{/if}}

          <div class="form-group">
            <label for="time_balance_entry_type" class="control-label">{{t "timeBalance.entryType.label"}}</label>
            <select class="form-control" id="time_balance_entry_type" name="entry_type">
              <option value="{{entryTypeTimeOff}}">{{t "timeBalance.entryType.timeOff"}}</option>
              <option value="{{entryTypeWorkedExtra}}">{{t "timeBalance.entryType.workedExtra"}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="time_balance_date" class="control-label">{{t "common.date"}}</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <input type="text" class="form-control" id="time_balance_date" name="date" data-provide="datepicker" data-date-autoclose="1" data-date-format="{{#with logged_user.company}}{{this.get_default_date_format_for_date_picker}}{{/with}}" data-date-week-start="1" value="{{as_date booking_start}}">
            </div>
          </div>

          <div class="form-group">
            <label for="time_balance_hours" class="control-label">{{t "timeBalance.hours"}}</label>
            <input type="number" class="form-control" id="time_balance_hours" name="hours" step="0.25" min="0.25" max="24" required>
          </div>

          <div class="form-group">
            <label for="time_balance_comment" class="control-label">{{t "timeBalance.comment"}}</label>
            <textarea class="form-control" id="time_balance_comment" name="employee_comment"></textarea>
          </div>

          <button type="submit" class="btn btn-success single-click">{{t "timeBalance.create"}}</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">{{t "timeBalance.balancesTitle"}}</div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{t "timeBalance.employee"}}</th>
            <th>{{t "timeBalance.balance"}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each balances}}
          <tr>
            <td>{{full_name this.user}}</td>
            <td>{{this.hours}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{t "timeBalance.pendingTitle"}}{{#if pendingEntries.length}} <span class="badge">{{pendingEntries.length}}</span>{{/if}}</div>
      {{#unless pendingEntries.length}}
        <div class="panel-body text-muted">{{t "timeBalance.noPendingEntries"}}</div>
      {{else}}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{t "timeBalance.employee"}}</th>
              <th>{{t "timeBalance.department"}}</th>
              <th>{{t "common.date"}}</th>
              <th>{{t "timeBalance.entryType.label"}}</th>
              <th>{{t "timeBalance.hours"}}</th>
              <th>{{t "timeBalance.comment"}}</th>
              <th colspan="2"></th>
            </tr>
          </thead>
          <tbody>
            {{#each pendingEntries}}
            <tr>
              <td>{{full_name this.user}}</td>
              <td>{{this.user.department.name}}</td>
              <td>{{as_date this.date}}</td>
              <td>
                {{#if_equal this.entry_type ../entryTypeTimeOff}}{{t "timeBalance.entryType.timeOff"}}{{else}}{{t "timeBalance.entryType.workedExtra"}}{{/if_equal}}
              </td>
              <td>{{this.hours}}</td>
              <td>{{this.employee_comment}}</td>
              <td>
                <form action="/time-balance/reject/" method="POST">
                  <input type="hidden" name="entry_id" value="{{this.id}}">
                  <button type="submit" class="btn btn-warning single-click">{{t "timeBalance.reject"}}</button>
                </form>
              </td>
              <td>
                <form action="/time-balance/approve/" method="POST">
                  <input type="hidden" name="entry_id" value="{{this.id}}">
                  <button type="submit" class="btn btn-success single-click">{{t "timeBalance.approve"}}</button>
                </form>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/unless}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{t "timeBalance.myEntriesTitle"}}</div>
      {{#unless myEntries.length}}
        <div class="panel-body text-muted">{{t "timeBalance.noMyEntries"}}</div>
      {{else}}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{t "common.date"}}</th>
              <th>{{t "timeBalance.entryType.label"}}</th>
              <th>{{t "timeBalance.hours"}}</th>
              <th>{{t "timeBalance.status"}}</th>
              <th>{{t "timeBalance.comment"}}</th>
              <th>{{t "timeBalance.approver"}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each myEntries}}
            <tr>
              <td>{{as_date this.date}}</td>
              <td>
                {{#if_equal this.entry_type ../entryTypeTimeOff}}{{t "timeBalance.entryType.timeOff"}}{{else}}{{t "timeBalance.entryType.workedExtra"}}{{/if_equal}}
              </td>
              <td>{{this.hours}}</td>
              <td>
                {{#if_equal this.status 1}}{{t "timeBalance.statuses.new"}}{{/if_equal}}
                {{#if_equal this.status 2}}{{t "timeBalance.statuses.approved"}}{{/if_equal}}
                {{#if_equal this.status 3}}{{t "timeBalance.statuses.rejected"}}{{/if_equal}}
                {{#if_equal this.status 4}}{{t "timeBalance.statuses.canceled"}}{{/if_equal}}
              </td>
              <td>{{this.employee_comment}}</td>
              <td>{{#if this.approver}}{{full_name this.approver}}{{/if}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/unless}}
    </div>
  </div>
</div>

{{> footer }}
