
<div>
  <strong>{{t "common.name"}}:</strong> {{userFullName}}.
</div>
<div>
  <strong>{{t "users.department"}}:</strong> {{departmentName}}.
</div>
{{#if userAllowance }}
  <div>
    <strong>{{t "userPopup.available"}}:</strong> {{t "userPopup.availableOutOf" available=userAllowance.number_of_days_available_in_allowance total=userAllowance.total_number_of_days_in_allowance}}.
  </div>
{{/if}}
{{#if supervisorNames}}
  <div>
    <strong>{{t "userPopup.approvers"}}:</strong>
    <ul>
      {{#each supervisorNames}}<li>{{this}}{{#unless @last}},{{/unless}}</li>{{/each}}
    </ul>
  </div>
{{/if}}
