
{{> header }}

<a class="sr-only sr-only-focusable" href="#main-content">{{t "nav.skipToMainContent"}}</a>
<main id="main-content" tabindex="-1">
<h1>{{t "reportsPage.title"}}</h1>

<div class="row">
  <div class="col-md-6 lead">{{t "reportsPage.subtitle"}}</div>
</div>

{{> show_flash_messages }}

<div class="content-spacer" aria-hidden="true"></div>

<div class="row">
  <div class="col-md-4">
    <div class="well well-lg text-center">
      <a class="btn btn-link btn-lg" href="/reports/allowancebytime/">{{t "reportsPage.allowanceByTime"}} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
  </div>
    <div class="col-md-4">
    <div class="well well-lg text-center">
      <a class="btn btn-link btn-lg" href="/reports/leaves/">{{t "reportsPage.employeesLeaves"}} <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>

</main>
{{> footer }}
