
{{#if limitedView}}
  <div>
    <strong>{{t "leavePopup.dates"}}:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>{{t "leavePopup.employee"}}:</strong> {{leave.employeeFullName}}.
  </div>
{{else}}
  <div>
    <strong>{{t "leavePopup.dates"}}:</strong> {{leave.startDate}} <i class="fa fa-long-arrow-right"></i> {{leave.endDate}}.
  </div>
  <div>
    <strong>{{t "leavePopup.type"}}:</strong> {{leave.type}}.
  </div>
  <div>
    <strong>{{t "leavePopup.status"}}:</strong> {{leave.status}}.
  </div>
  <div>
    <strong>{{t "leavePopup.employee"}}:</strong> {{leave.employeeFullName}}.
  </div>
  <div>
    <strong>{{t "leavePopup.deductedDays"}}:</strong> {{leave.deductedDays}}.
  </div>
  <div>
    <strong>{{t "leavePopup.approver"}}:</strong> {{leave.approver}}.
  </div>
  <div>
    <strong>{{t "leavePopup.requestedOn"}}:</strong> {{leave.createdAt}}.
  </div>
  {{#if leave.commentsString }}
  <div>
    <strong>{{t "leavePopup.comments"}}:</strong> {{leave.commentsString}}.
  </div>
  {{/if}}
{{/if}}
